@import "main.css";
.nav-bar a:nth-child(2){
    color: black;
    font-weight: 800;
    border-bottom: red solid .1rem;
    padding-bottom: .6rem;
    padding-left: .7rem;
    padding-right: .7rem;
}
.map{
    background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(106, 9, 28, 0.6)), to(rgba(19, 100, 195, 0.5))), url("../assets/zasole_map.png");
    background-image: linear-gradient(to bottom left, rgba(106, 9, 28, 0.6), rgba(19, 100, 195, 0.5)), url("../assets/zasole_map.png");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 60vh;
}
.monuments{
    font-size: 1rem;
    margin: 2rem 1rem;
}