* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

.header-nav {
    height: 50vh;
    position: fixed;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

header {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(176, 176, 176, 0.6);
    -moz-box-shadow: 0px 0px 3px 1px rgba(176, 176, 176, 0.6);
    box-shadow: 0px 0px 3px 1px rgba(176, 176, 176, 0.6);
    top: 0;
    height: 50vh;

    h1 {
        font-weight: 400;
        font-size: 2.3rem;
        margin-right: 1rem;
    }

    h2 {
        font-weight: 800;
        font-size: 1.2rem;
        margin: 0 1rem 1rem 0;
    }

    h3 {
        font-weight: 800;
        font-size: 1rem;
        margin-right: 1rem;
        font-style: italic;
    }

    .title {
        text-align: right;
        position: absolute;
        bottom: 15vh;
        width: 100vw;
    }
}

.background {
    background-image: -webkit-gradient(linear,
            right top,
            left bottom,
            from(rgba(106, 9, 28, 0.6)),
            to(rgba(19, 100, 195, 0.5))),
        url("../assets/app_hero_white.jpg");
    background-image: linear-gradient(to bottom left,
            rgba(106, 9, 28, 0.6),
            rgba(19, 100, 195, 0.5)),
        url("../assets/app_hero_white.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;

    .arrow {
        padding-left: 30px;
        padding-top: 20px;
        font-size: 2rem;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.nav-bar {
    background-color: white;
    display: flex;
    font-size: 1.1rem;
    left: 0;
    padding: 2rem 0 2rem 0;
    position: absolute;
    bottom: 0;
    width: 100vw;
    justify-content: center;

    ul {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        margin-left: 1.2rem;
        margin-right: 1.2rem;

        li {
            display: inline-block;
            width: 100px;
            text-align: center;
        }
    }
}

article {
    font-size: 1.2rem;
    text-align: justify;
    color: grey;
    max-height: 50vh;
    padding-top: 50vh;

    p {
        margin: 1rem 1.2rem 0 1.2rem;
    }

    p:first-child {
        color: black;
    }
}

.invisibility {
    display: none;
}



.map-container {
    position: relative;
    height: 50vh;
    width: 100vw;

    iframe {
        height: 50vh;
        width: 100vw;
    }
}